<%- include("./head_layout") %>
    <form method="POST" action="/articles/submitarticle">
        <div class="form-group mt-3">
            <label for="text" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= article.title%>" />
        </div>
        <div class="form-group mt-3">
            <label for="text" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author" value="<%= article.author %>" />
        </div>
        <div class="form-group mt-3">
            <label for="text" class="form-label">Article</label>
            <textarea class="form-control" id="content" name="content" value=""><%= article.content%></textarea>
        </div>
        <input type="hidden" name="id" value="<%= article._id%>">
        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">Create Article</button>
        </div>
    </form>
    <%- include("./tail_layout") %>